* {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    margin:auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    position:fixed;
}

ul, ol{
    list-style: none;
}

.nav li a {
    background-color:rgb(7, 7, 65);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover{
    background-color: darkblue;
}

.nav > li {
    float: left
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: auto;
}

.nav li:hover > ul {
    display: block;
}

header{
    width: auto;
    height: 300px;
    background-image: url("./Photos/cloud.jpg");
}



/*Photo on header*/
.Me{
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.circular{
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./Photos/Me.jpg");
    transition-property: background;
    transition-duration: 2s;
}

.circular:hover{
    background: url("./Photos/Me2.jpg");
    background-size: cover;
}
.About{
    padding: 80px 0 20px 0;
}

.About p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
}

.About p:hover{
    color: plum;
}

/*Body*/

.Bod{
    padding: 100px 0 100px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: linear;
}
.skill{
    text-align: center;
}
.texto{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px red;
}

.square{
    width: 50px;
    height: 50px;
    background: red; 
    transition: width 1s, height 1s;
}

.color{
    background: blue;
}


.container{
    display: none;
}

.square:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px red;
    background: white;
    width: 300px;
    height: 150px;
}

.color:hover{
    box-shadow: 5px 10px blue;
}

.square:hover .container{
    display: block;
}

.container img{
    width: 75px;
    height: 75px;
}
/* Footer */
footer {
    text-align: center;
    padding: 10px 0 20px 0;
    background-color: rgb(7, 7, 65);
    color: white;
}

.Foot{
    padding: 25px 0 30px 0;
}

.transition{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    padding: 2%;
}


.circle{
    width: 50px;
    height: 50px;
    background: #4AA8FF;
    transition-property: background, transform, margin-left, border-radius;
    transition-duration: 2s;
    transition-delay: 0.5s;
    transition-timing-function: linear;
    
}

.text:hover + .circle{
     background: #EB6D82;
     transform: rotate(360deg);
     margin-left: 95%;
     border-radius: 50%;
 }
.none{
    display: none;
}
 /*Celulares*/

 @media only screen and (max-width: 600px ) {

    .nav{
        display: none;
    }
    .none a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 20px;
        background: yellow;
    }
    .none{
        text-align: center;
        display: block;
    }


    .circular{
        margin: 15px;
        width: 500px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("./Photos/Me.jpg");
        transition-property: background;
        transition-duration: 2s;
    }
    
    .circular:hover{
        background: url("./Photos/Me2.jpg");
        background-size: cover;
    }

    .About{
        color: black;
        font-size: 10px;
    }

    .text:hover + .circle{
        background: #EB6D82;
        transform: rotate(360deg);
        margin-left: 70%;
        border-radius: 50%;
    }

  }